<p>employee-management-form works!</p>
<h2>Employee Form</h2>

<form [formGroup]="form" (ngSubmit)="submit()">

  <!-- Name -->
  <input formControlName="name" placeholder="Name" />
  <p class="error" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
    Name is required
  </p>

  <!-- Email -->
  <input formControlName="email" placeholder="Email" />
  <p class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
    Enter valid email
  </p>

  <!-- Experience -->
  <input type="number" formControlName="experience" placeholder="Experience" />
  <p class="error" *ngIf="form.get('experience')?.errors?.['invalidExp']">
    Experience must be between 0 to 40 years
  </p>

  <!-- Department -->
  <input formControlName="department" placeholder="Department" />
  <p class="error" *ngIf="form.get('department')?.invalid && form.get('department')?.touched">
    Department is required
  </p>

  <button type="submit">Submit</button>

</form>

<h3>Output</h3>
<pre>{{ data | json }}</pre>